{% extends 'basic.html' %}
{% block title%} Home  {% endblock %}

{% block content %} 
<!-- <div class="container">
    <div class="row">

        {{stu.title}}
        <img src="/media/{{stu.image}}" alt="">
    </div>
</div> -->





<div class="container mt-5">
    <div class="row">
        <div class="col-sm12 col-md-8 ">

            <h1> <b>Student name-</b>{{stu.name}}</h1>
            
            <img src="/media/{{stu.image}}" class="responsive-img " style="margin-top: 30px; width: 95%; height: 450px; margin-bottom: 40px;">

            <!-- <h5>{{post.content|safe}}</h5> -->
            <p>  <b>Fathers Name-</b> {{stu.f_name}}</p>
            <p>  <b>Contact no-</b> {{stu.mobile|safe}}</p>
            <p>  <b>Enrolled date-</b> {{stu.date}}</p>
            <p>  <b>Email-</b>{{stu.email}}</p><br>
          
            
        </div>


        <div class="col-sm-12-md-4">
            <h1>Our courses</h1>
            <ul class="list-group mt-5">
                {%for c in course%}
                    <li class="list-group-item"><a href="/category/{{c.url}}">{{c.title}}</a></li>
                   
                   {% empty%}
                   <h1>does not </h1>
                   
                    {%endfor%}
                  </ul>



        
                    
                </div>
            </div>
        </div>
  




 
{% endblock %}